
*.txt
Code/Assignment/A1 - Search Engine/word-test.v1.txt
Code/Assignment/A1 - Search Engine/glove.6B
Code/Assignment/A1 - Search Engine/__pycache__/main.cpython-311.pyc
Code/Assignment/A1 - Search Engine/__pycache__/main.cpython-311.pyc
Code/Assignment/A1 - Search Engine/__pycache__/main.cpython-311.pyc
*.pyc
Code/04 - Spacy/data/resumeDataset