<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Similarity Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Word Similarity Search</h1>
        <form action="/" method="POST">
            <label for="query">Enter a word:</label>
            <input type="text" id="query" name="query" value = "{{ query }}" placeholder="Type a word..." required>
            <button type="submit">Search</button>
        </form>

        {% if query %}
            {% for model_name, model_results in results.items() %}
                <h2>{{ model_name.capitalize() }} Model Results:</h2>
                {% if model_results %}
                    <!-- create the result with the list item -->
                    <ul>
                        {% for word, similar_words in model_results %}
                            <li>
                                <strong>{{ word }}</strong>: 
                                {% for similar_word, similarity_score in similar_words %}
                                    {{ similar_word }} ({{ similarity_score }})
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- Generate an image tag for the word cloud -->
                    <img src="{{ url_for('static', filename=model_name + '_wordcloud.png') }}" alt="{{ model_name }} Word Cloud">
                {% else %}
                    <p>No results for the {{ model_name.capitalize() }} model.</p>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>
</body>
</html>
